

.item, img{
    height: 100% !important;
    width:  100% !important;
    border-bottom: 1px solid #d2d2d2;
}

div.item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.5);
}

i.favourite-icon:hover {
    
}

#fav1 {
    display: block;
}


.card{
   margin: 0 .5em; 
}

/* for equal card size */
.image-wrapper{
    max-width: 100%;
    height: 200px;
}

.card-decks{
    height: 330px;
}

.image-wrapper .img{
    object-fit: cover;
}

#homepage{
    position: relative;
    height: 500px;
    width: 100%;
}

.container{
    margin-top:200px;
}

.btn:hover{
    color:#fff;
}

.input-text:focus, #id_text{
       
  
    box-shadow: 0px 0px 0px;
    border-color: black;
    outline: 0px;
}


.black-box{
    position: relative;
}

/* for search bar to appear on top */
.gray-box{
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 100%;

}

/*for remove underline*/
a.card-title {
    text-decoration: none;
    font-weight: bold;

}

img.banner {
    width: 100%; 
    object-fit: cover;
    border-color: transparent;
}

img.card-img-top{
    border-color: transparent;
    object-fit: cover;
}

body{
    font-family: serif;
    background-color: #f6f7f7;
}

div.searchbar{
    width: 45%; 
    margin: auto;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
  overflow-x: hidden;
  font-size: 25px;
}

a.nav-link{
    width: 100%;
    display: inline-block;
    font-family: Georgia;
    
    color:black;
    text-align: center;
    background-color: lightgrey;
}

header#navdiv{
    position: sticky;
    overflow-x: hidden;
    width: 100%;
    top: 0;
    z-index: 3;
    background-color: white;
    border-bottom: 1px solid #d2d2d2;
}

h2, h4 ,a#sitename{
    font-family: 'Dancing Script', cursive;

}

/* for search page */
div#searchbar2{
    width: 100%;
}



/* for search icon */
.favourite-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #d2d2d2;
}

.favourite-icon:hover{
    color: white;
}

liked-class{
    color: red;
}

.navtoggle{
    border: 1px solid black;
    width: 100%; 
    margin-top: 2px;
}

div#meals, div#ingredient, div#occasion{
    display: none;
}

.sideboxes{
    position: absolute;
    top: 55px;
    width: 100%;
}

.sideboxes .menu:hover{
    background-color: grey;
}

.sub{

}

 div.item {
    display: inline-block;
}

.owl-stage{
    display:inline-block;
}

.Layer_1{
    width: 20%;
}

/* favourite page title */
div.favourite-page {
    padding: 80px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    font-size: 60px;
}

/* equal width */
div#favourite-cards {
    max-width: 310px;
    height: 290px;
    overflow: hidden;
}

div#card-body{
    max-width: 450px;
    max-height: 300px;
}

p.card-text{
    max-width: 300px;
    max-height: 100px;
}

div.card-text{
    padding: 20px;
}


div.owl-text{
    padding-left: 10px;
    font-size: 18px;
    
}